* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-text-color)
}
body {
    background-color: var(--main-color);
}
.inlineflex {
    display: flex;
}
.header {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: var(--main-acc-color);
    display: table;
}
.link {
    display: table-cell;
    float: left;
    padding: 1% 2.5%;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: var(--main-text-color-2);
    transition: color 0.2s;
}
a:hover {
    text-decoration: none;
    color: var(--main-text-color-2-active);
}
.content {
    margin: 1%;
    width: auto;
    background-color: var(--main-color);
}
.content > div {
    float: left;
    padding: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    background-color: var(--main-acc-color);
}
p {
    font-size: 100%;
}
.main {
    width: 71%;
    margin-right: 1%;
    padding-bottom: 2%;
}
.front-post {
    background-color: var(--main-acc-color-1);
    padding: 1%;
    border-radius: 2px;
}
.post-image-cont {
    margin-top: 2%;
    width: 100%;
    text-align: center;
}
.post-image {
    width: 60%;
}
.post-info {
    color: var(--main-text-color-2);
    font-size: 80%;
}
.post-textelm {
    margin: 1%;
}
.widget {
    margin-top: 5%;
    width: 100%;
}
.column {
    width: 24%;
}
.footer {
    text-align: center; 
}
.footertext {
    padding: 1%;
}
.shelf {
    text-align: center;
}
.title2 {
    text-align: center;
    margin-bottom: 2%;
}
.shelf-entrie {
    display: flex;
    padding: 0;
    width: 31.3%;
    text-align: left;
    float: left;
    text-align: center;
    flex-wrap: wrap;
    margin: 1%;
    transition: transform 0.2s;
}
.shelf-entrie:hover {
    transform: scale(1.05);
}
.shelf-img {
    width: 100%;
    border-radius: 10px;
}
.shelf-text {
    background-color: var(--main-acc-color);
    padding: 1%;
    font-weight: bold;
}
.about-title {
    margin-bottom: 3%;
}
.about-p {
    margin-top: 2%;
}
.about-quote {
    margin-left: 1%;
    padding: 1%;
    margin-right: 1%;
    background-color: var(--main-acc-color-2);
    border-left: 3px solid var(--main-text-color-2);
}
.about-img {
    width: 25%;
    border-radius: 10px;
    text-align: center;
}