* {
    --main-color: #000000;
    --main-acc-color: #0f0f0f;
    --main-acc-color-2: #0f0f0f;
    --main-text-color: #f5f5f5;
    --main-text-color-2-active: #ffffff;
    --main-text-color-2: #b0b0b0;
}