@media only screen and (max-width: 800px) {
    .content {
        margin: 0%;
    }
    .content > div {
        margin-bottom: 0%;
        border-radius: 0px;
        padding: 0%;
    }
    .column {
        width: 100%;
        margin-right: 0;
        margin-top: 2%;
        padding: 7%;
    }
    .main {
        width: 100%;
        margin-right: 0;
        margin-top: 2%;
        padding: 5%;
    }
    .post-image {
        width: 100%;
    }
    .post-textelm {
        margin: 2%;
    }
    .post-title, .post-info {
        padding: 1%;
    }
    .title {
        margin: 1%;
        margin-bottom: 0%;
    }
    .front-post {
        padding: 0%;
        padding-bottom: 2.5%;
    }
    .widget {
        margin-top: 2%;
        margin-left: 5%;
        width: 90%;
    }
    .shelf-entrie {
        width: 48%;
    }
}