* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-text-color)
}
body {
    background-color: var(--main-color);
}
.inlineflex {
    display: flex;
}
.header {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: var(--main-acc-color);
    display: table;
}
.link {
    display: table-cell;
    float: left;
    padding: 1% 2.5%;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: var(--main-text-color-2);
    transition: color 0.2s;
}
a:hover {
    text-decoration: none;
    color: var(--main-text-color-2-active);
}
.content {
    margin: 1%;
    width: auto;
    background-color: var(--main-color);
}
.content > div {
    float: left;
    padding: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    background-color: var(--main-acc-color);
}
p {
    font-size: 100%;
}
.main {
    width: 71%;
    margin-right: 1%;
}
.front-post {
    background-color: var(--main-acc-color-2);
    padding: 1%;
    border-radius: 2px;
}
.post-image-cont {
    margin-top: 2%;
    width: 100%;
    text-align: center;
}
.post-image {
    width: 60%;
}
.post-info {
    color: var(--main-text-color-2);
    font-size: 80%;
}
.post-text > p {
    margin-top: 2%;
}
.widget {
    margin-top: 5%;
    width: 100%;
}
.column {
    width: 24%;
}