* {
    --main-color: #ffffff;
    --main-acc-color: #f0f0f0;
    --main-acc-color-2: #e0e0e0;
    --main-text-color: #000000;
    --main-text-color-2-active: #0f0f0f;
    --main-text-color-2: #5f5f5f;
}