@media only screen and (max-width: 800px) {
    .column {
        display: none;
    }
    .content {
        margin: 0%;
    }
    .content > div {
        padding: 0%;
        margin-bottom: 0%;
        border-radius: 0px;
    }
    .main {
        width: 100%;
        margin-right: 0;
        padding: 5%;
    }
    .post-image {
        width: 100%;
    }
    .front-post {
        padding: 0%;
    }
}