@media only screen and (max-width: 600px) {
    .center {
        width: 92%;
        padding: 4%;
    }
    .main-img {
        width: 100%;
    }
    .text-top {
        font-size: 125%;
        margin-bottom: 10%;
    }
    .text-bottom {
        margin-top: 10%;
        font-size: 125%;
    }
}